<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="https://fonts.googleapis.com/css?family=Patua+One|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css">
<style>
  body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    max-width: 600px;
  }
  h1 {
    font-family: 'Patua One', 'sans';
  }
  article {
    margin-bottom: 1.5em;
  }
</style>
</head>
<body>
  <h1>(P)react Pie</h1>
  <p>A simple declarative way to create pie charts with React or Preact</p>
  <p><a href="https://github.com/nicktomlin/preact-pie">https://github.com/nicktomlin/preact-pie</a></p>

  <iframe src="https://giphy.com/embed/3oriNMME3Et5tb9scw" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <div id="container" style="height: 300px; width: 300px;"></div>
</body>
</html>
