{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      }
    }]
  ],
  "plugins": [
    "external-helpers",
    "syntax-object-rest-spread",
    ["transform-react-jsx", {}]
  ]
}
